.DifferentContainer{
  width:80%;
  margin: 0 auto;
  .DifferentMain {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    h2{
      font-size: 2rem;
      line-height: 40px;
    }
    p{
          color: #9095a7;
          width: 80%;
          margin: 0 auto 25px;
    }
  }
  .DifferentFlex{
    margin-block: 45px 60px;
    .DifferentElement{
      div{
        display: flex;
        background-color: #FFEFEB;
        align-items: center;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
        p, h3{
          margin: 0px;
        }
        p{
          font-size: 1.2rem;
          color: white;
          background-color: hsl(12, 88%, 59%);
          padding:10px 15px;
          border-radius: 25px;
        }
        h3{
          margin-left: 1rem;
          font-size: 1.1rem;
          line-height: 20px;
        }
      }
      p{
            line-height: 1.8;
            color: #242d52;
            margin-top: 25px;
      }
    }
  }
  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 50px;
    .DifferentFlex{
      margin: 0px;
      .DifferentElement{
        div{
          background: none;
        }
      }
    }
  }
}


//background-color: hsl(12, 88%, 59%);